<!DOCTYPE html>
<html>
    <%@ 
        page import="Model.BannerCharacter"
     %>
    <%
            BannerCharacter _5star = (BannerCharacter) request.getAttribute("5starchar");
            BannerCharacter _4star1 = (BannerCharacter) request.getAttribute("4starchar1");
            BannerCharacter _4star2 = (BannerCharacter) request.getAttribute("4starchar2");
            BannerCharacter _4star3 = (BannerCharacter) request.getAttribute("4starchar3");
    %>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="BannerPage/banner.css" rel="stylesheet">
        <script src="BannerPage/portrait.js"></script>
        <script id="vars" type="text/javascript">
            var _5splashpath1 = "<%= getServletContext().getInitParameter("bannerpage-asset-folder") %>/splash/<%=_5star1.getWeapSplash() %>";
            var _5splashpath2 = "<%= getServletContext().getInitParameter("bannerpage-asset-folder") %>/splash/<%=_5star2.getWeapSplash() %>";
            var _4splashpath1 = "<%= getServletContext().getInitParameter("bannerpage-asset-folder") %>/splash/<%=_4star1.getWeapSplash() %>";
            var _4splashpath2 = "<%= getServletContext().getInitParameter("bannerpage-asset-folder") %>/splash/<%=_4star2.getWeapSplash() %>";
            var _4splashpath3 = "<%= getServletContext().getInitParameter("bannerpage-asset-folder") %>/splash/<%=_4star3.getWeapSplash() %>";
            var _4splashpath4 = "<%= getServletContext().getInitParameter("bannerpage-asset-folder") %>/splash/<%=_4star4.getWeapSplash() %>";
            var _4splashpath5 = "<%= getServletContext().getInitParameter("bannerpage-asset-folder") %>/splash/<%=_4star5.getWeapSplash() %>";
            
        </script>
    </head>
    <body background="assets/BannerPage/bg.jpg" onload="changeContent(event, '5starWeap1', _5splashpath1 )">
        <div class="navbar">
            <ul>
                <li><button class="tab-links" id="defaultOpen" onclick="changeContent(event, '5starWeap1', _5splashpath1 )"><img  loading="lazy" src="<%= getServletContext().getInitParameter("bannerpage-asset-folder") %>/cportraits/<%= _5star.getCharPortrait()%>" alt="5 Star weapon #1"></button></li>
                <li><button class="tab-links" onclick="changeContent(event, '5starWeap2', _5splashpath2 )"><img  loading="lazy" src="<%= getServletContext().getInitParameter("bannerpage-asset-folder") %>/cportraits/<%= _5star.getCharPortrait()%>" alt="5 Star weapon #2"></button></li>
                <li><button class="tab-links" onclick="changeContent(event, '4starBow', _4splashpath1)"><img loading="lazy" src="<%= getServletContext().getInitParameter("bannerpage-asset-folder") %>/cportraits/4stars/4sw1.png" alt="4 Star weapon #1"></button></li>
                <li><button class="tab-links" onclick="changeContent(event, '4starSword', _4splashpath2)"><img loading="lazy" src="<%= getServletContext().getInitParameter("bannerpage-asset-folder") %>/cportraits/4stars/4sw2.png" alt="4 Star weapon #2"></button></li>
                <li><button class="tab-links" onclick="changeContent(event, '4starCatalyst', _4splashpath3)"><img loading="lazy" src="<%= getServletContext().getInitParameter("bannerpage-asset-folder") %>/cportraits/4stars/4sw3.png" alt="4 Star weapon #3"></button></li>
                <li><button class="tab-links" onclick="changeContent(event, '4starSpear', _4splashpath3)"><img loading="lazy" src="<%= getServletContext().getInitParameter("bannerpage-asset-folder") %>/cportraits/4stars/4sw4.png" alt="4 Star weapon #3"></button></li>
                <li><button class="tab-links" onclick="changeContent(event, '4starClaymore', _4splashpath3)"><img loading="lazy" src="<%= getServletContext().getInitParameter("bannerpage-asset-folder") %>/cportraits/4stars/4sw5.png" alt="4 Star weapon #3"></button></li>
            </ul>
        </div>
        <div class="main">
            
            <div class="box">
                <div class="column-1">
                    <img id="display" id="splashimg" loading="lazy" src="<%= getServletContext().getInitParameter("bannerpage-asset-folder") %>/splash/<%=_5star.getWeapSplash() %>" >
                </div>
                <div class="column-2">
                    <div class="row-1">
                        <h3>Info about Rate Up</h3>
                        <div id="ru1" class="tab-content"><%= _5star1.getDescription() %></div>
                        <div id="ru2" class="tab-content"><%= _5star2.getDescription() %></div>
                        <div id="ru3" class="tab-content"><%= _4star1.getDescription() %></div>
                        <div id="ru4" class="tab-content"><%= _4star2.getDescription() %></div>
                        <div id="ru5" class="tab-content"><%= _4star3.getDescription() %></div>
                        <div id="ru6" class="tab-content"><%= _4star4.getDescription() %></div>
                        <div id="ru7" class="tab-content"><%= _4star5.getDescription() %></div>
                    </div>
                    <div class="row-2">
                        <h3>Personal Opinion</h3>
                        <div id="po1" class="tab-content"><%= _5star1.getOpinion() %></div>
                        <div id="po2" class="tab-content"><%= _5star2.getOpinion() %></div>
                        <div id="po3" class="tab-content"><%= _4star1.getOpinion() %></div>
                        <div id="po4" class="tab-content"><%= _4star2.getOpinion() %></div>
                        <div id="po5" class="tab-content"><%= _4star3.getOpinion() %></div>
                        <div id="po6" class="tab-content"><%= _4star4.getOpinion() %></div>
                        <div id="po7" class="tab-content"><%= _4star5.getOpinion() %></div>
                    </div>
                </div>
            </div>
        </div>


    </body>
</html>