/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 11, 2023, 7:26:38 PM
    Author     : csean
*/
* {
    border: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    color: #d4d5df;
    text-decoration: none;
}

:root { /*placeholder for declaring variables*/

}


body {
    width: 100vw;
}

.topnav {
    background-color: #3c1f42;
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
/*  color: #f2f2f2;*/
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 25px;
  /* margin-right: 50px; */
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav .split {
  float: right;
  /*background-color: #04AA6D;*/
  color: white;
}

.logo {
    float: left;
    position: relative;
    margin-top: 10px;
    margin-left: 35px;/*55px;*/
}

.navbar-text {
    float: left;
    font-style: italic;
    display: block;
    text-align: center;
    font-size: 1rem;
    margin-left: 36px;
    margin-top: 18.15px; /* more accurate value is 18.1665px */
}