/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 8, 2023, 10:27:38 PM
    Author     : csean
*/

* {
    border: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Montserrat", 'Open Sans', Helvetica, sans-serif;
    color: black;/*#d4d5df;*/
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --text: #d4d4d4;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    /*
    display: grid;
    place-items: center;
    */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    min-height: calc(100vh - 55px);
    width: 100%;
}

form.login {
    display: flex;
    flex-direction: column;
    gap: 9px;
    border: solid;
    border-radius: 9px;
    max-width: 25%;
    padding: 12px;
    background: #ADD8E6; /*#093100;*/ /*#3c1f42;*/ /*rgb(26, 12, 74);*/
    margin: auto;
    flex-grow: 1;
}

h1 {
    margin: 3px auto;
    color: black;/*var(--text);*/
}

input[type="email"], input[type="text"], input[type="password"]  {
    width: auto;
    font-size: 1rem;
    padding: 9px;
    display: block;
    color: black;
}

input[type="submit"] {
    color: black;
    font-size: 1rem;
    padding: 3px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input {
    border: none;
}

.input.label {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
}

.checkbox.label {
    margin-left: 9px;
    font-weight: bold;
}