/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28 Apr 2023, 7:33:49 pm
    Author     : dyhar
*/
:root {
  --header-height: 55px;
}
* {
    border: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    color: #d4d5df;
    text-decoration: none;
}

nav ul li form label{
    padding-bottom: 43%;
    color: #ffffff;
    font-size: 1.25em;
}

.logo {
    margin-top: 1em;
}

nav ul li {
    display: inline-block;
    white-space: nowrap;
}
nav ul{
    display: inline-block;
}

.pull-right{
    float: right!important;
}

.header{
    position: fixed;
    top: 0;
    z-index: 10;
    white-space: normal;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: var(--header-height);
    background-color: #3c1f42;
}

.acct-status{
    float: right;
    margin-right: 5px;
    padding-top: 10px;
}

.acct-status input{
    line-height: 50px;
    display: inline-block;
    margin: 0 5px;
    color: white;
    font-size: 24px;
    padding: 7px 13px;
    border-radius: 3px;
    background-color: #f16d0b;
    border-color: #f16d0b;
    border: none;
}

.acct-status input:active, input:hover{
    background: #f8a96d;
    transition: .5s;
}

.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: white;
    transition: 0.3s;
}

.cart.active{
    right: 0;
}

.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 64px;
}

#cart-icon{
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
    margin-right: 5px;
}

.gap{
    width: 100%;
    height: 2px;
    background-color: grey;
}

.wrap{
    background-color: #280031;
    width: 100%;
    padding-top: var(--header-height);
    height: calc(100vh - var(--header-height));  
}
