/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28 Apr 2023, 7:33:49 pm
    Author     : dyhar
*/

* {
    border: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    color: #d4d5df;
    text-decoration: none;
    box-sizing: border-box;
}

:root { /*placeholder for declaring variables*/

}


body {
    width: 100%;
}

main {
    padding-top: 16px;
    background-color: #280031;
    min-height: calc(100vh - 55px);
    width: 100%;
}

.grid {
    display: grid;
    width: 100%;
    height: auto;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    min-height: calc(100vh - 55px);
}

.game-imgs {
    max-width: 200px;
    max-height: 200px;
}

label {
    display: block;
    text-align: center;
    padding: 9px 0;
}

.content {
    border: solid blue;
    border-radius: 9px;
    overflow: hidden;
}

a.games {
    height: fit-content;
}

@media (max-width: 1300px) {
    
}