/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28 Apr 2023, 7:33:49 pm
    Author     : dyhar
*/

* {
    border: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    color: #d4d5df;
    text-decoration: none;
}


.topnav {
    background-color: #3c1f42;
    overflow: hidden;
  }
  
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
/*  color: #f2f2f2;*/
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 25px;
  margin-right: 50px
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav .split {
  float: right;
  /*background-color: #04AA6D;*/
  color: white;
}

.logo {
    position: relative;
    margin-top: 10px;
    margin-left: 55px;
}

input {
    line-height: 40px;
    display: inline-block;
    margin: 7.5px 5px;
    color: white;
    font-size: 18px;
    padding: 0 13px;
    border-radius: 3px;
    background-color: #f16d0b;
    border-color: #f16d0b;
    border: none;
}

.content {
    background-color: #280031;
    width: 100%;
    height: 100vh;  
}

@media (max-width: 1300px) {
    
}