* {
    border: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    color: #d4d5df;
    
}

body {
    background-color: rgb(32,36,82);
}

hr{
    border: solid;
}